

/****************menu animation********************/
#nav_menu{
	display:none;
}

.animated-menu {
  cursor: pointer;
  display: inline-block;
  position: fixed;
  right: 3.4%;
  top: 60px;
  width: 6%;
  z-index: 1;
}




